package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>svg-logos-uploader</title>
      <link href="assets/css/output.css" rel="stylesheet"/>
		</head>
		<body>
			<main class="h-screen">
				{ children... }
			</main>
		</body>
	</html>
}
